# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
.env

# Distribution / packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
*.cover
nosetests.xml
coverage.xml
*.log

# IDE and Editor Files
.idea/
.vscode/
*.swp